@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

body {
    background-color: black;
    color: orange;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
}

.container {
    padding: 0 5rem 0 5rem;
}

.home {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    background-color: black;
    align-items: center;
}

.home h1 {
    font-size: 2rem;
}

.home .menu {
    width: 60%;
}

.home ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home li {
    list-style-type: none;
}

.home a {
    color: white;
    text-decoration: none;
    padding: 0 0.2rem 0 0.2rem;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1200px) {
    .home h1 {
        font-size: 1.8rem;
    }

    .home .menu {
        width: 50%;
        padding: 0 0.4rem 0 0.4rem;
    }

    .home ul {
        width: 100%;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
.home {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: flex-start;
}

.home h1 {
     font-size: 1.6rem;
    
 }

 .home .menu {
     width: 100%;
     padding: 0;
 }

 .home ul {
width: 80%;
 }
}
   
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
    .home h1 {
        font-size: 1.4rem;
    }


}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    

    .home h1 {
        font-size: 1.2rem;
    }

    .home ul {
        display: flex;
        flex-direction: column;
       line-height: 2.5rem;
       }
}