body {
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
}

.container {
    background-color:black;
    width: 1200px;
    height: 100%;
    border: solid 1px #ff8a00;
    margin-left: auto;
    margin-right: auto;
}

.home {
    display: flex;
    flex-direction: row;
    position:fixed;
    width:1200px;
    background-color: black;
    align-items: center;
}

.menu {
    width: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    padding-right:50px;
    margin:0;
}

.nav li {
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    list-style-type: none;
    padding: 5px 10px 5px 10px;
}

.nav a { 
    color:white;
    font-size: 14px;
    text-decoration: none;
}

.nav a:hover {
    color: #ff8a00;
}

.logo {
    width: 250px;
    height: 100px;
}

/*-------SECTION ABOUT---------*/

.about {
    display: flex;
    flex-direction: row;
    background-image: radial-gradient(circle, rgb(46, 46, 46) 2%, black 98%);
    margin-top: 70px;
}

.about .intro {
     width: 500px;
     font-family: Arial, Helvetica, sans-serif;
     color: white;
     padding: 80px;
}

.about .intro h2 {
    font-size: 40px;
    padding-bottom: 30px;
}

.about .intro span {
    color: #ff8a00;
}

.about .intro h3 {
    font-size:25px;
    padding-bottom: 30px;
}

.about .intro p {
    font-size: 16px;
    padding-bottom: 40px;
}

.about .btn {
    background-color: #ff8a00;
    color: white;
    padding: 10px;
}

.about .photo {
    width: 400px;
    filter:  blue(70%);
    border-radius: 50%;
    padding: 30px;
}

/*-------KNOWLEDGE---------*/

.skills {
    margin-right:auto;
    margin-left: auto;
}
.skills h2 {
    color: #ff8a00;
    font-family: Oswald, sans-serif;
    font-size: 40px;
    padding: 0 0 30px 70px;
}

.skills .icons {
    margin-right:auto;
    margin-left: auto;
    width: 80%;
}

.skills .icons .row {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    width: 100%;
}

.skills .icons .row .card {
    width: 100%;
    padding: 10px;
}

.skills .icons .row .card:hover {
    background-color: rgb(24, 24, 24);
}

.skills .icons .row .card h3 {
    color: #ff8a00;
}

.skills .icons .row .card p {
    color: rgb(189, 189, 189);
}

.skills .icons .row .card i {
    color: #ff8a00;
    padding: 0 8px 0 8px;
}