@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

body {
    background-color: black;
    color: orange;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top:0;
    padding: 0 5rem 0 5rem;
}

.home {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    top:0;
    background-color: black;
    align-items: center;
}

.home h1 {
    font-family: 'Oswald';
    font-size: 2rem;
}

.home .menu {
    width: 60%;
}

.home ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home li {
    list-style-type: none;
}

.home a {
    color: white;
    text-decoration: none;
    padding: 0 0.2rem 0 0.2rem;
}

.about {
    display: flex;
    flex-direction:row;
    column-gap: 30px;
    justify-content: space-around;
    align-items: center;
    background-image: url(./img/tlo.jpg);
    margin-top: 120px;
    padding: 20px;
}

.about h2 {
    font-family: 'Oswald';
    font-size: 40px;
}

.about p {
    color: white;
}

.about .intro {
 width: 50%;
 padding: 20px;
}

.about .photo {
    width: 50%;  
}

.about .photo {
    width: 400px;
    border-radius: 50%;  
    filter: grayscale();
}

.about .contacticons {
 display: flex;
 flex-direction: row;
 align-items: center;
 width: 100%;
}

.about .contactbtn {
    background-color:orange;
    padding: 5px 10px 5px 10px;
}

.about .contactbtn a {
      color: black;
      text-decoration: none;
}

.about .socialicons a {
    color: orange;
    padding: 0 7px 0 7px;
}

.skills {
    display: flex;
    flex-direction:column;
    column-gap: 30px;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.skills h2 {
    font-family: 'Oswald';
    font-size: 40px;
}

.skills .icons {
    width: 100%;
    padding: 10px;
}

.skills .icons .row {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.skills .icons .card {
    width: 33%;
    padding: 20px;
}

.skills .icons .card h3 i{
    padding-right: 20px;
}

.skills .icons .card p {
color: white;
}

.projects {
background-image: url(./img/tlo.jpg);
padding: 20px;
}

.projects h2 {
    font-family: 'Oswald';
    font-size: 40px;
    margin:10px;
}

.contact {
    display:flex;
    flex-direction: column;
padding: 20px;
}

.contact h2 {
    font-family: 'Oswald';
    font-size: 40px;
}

.contact .detailsandform {
    display: flex;
    flex-direction: row;
}

.contact .detailsandform .contactdetails {
    width: 50%;
    padding: 20px;
}

.contact .detailsandform .contactdiv {
    width: 50%;
    padding: 30px;
}

.contact .detailsandform .contactdiv h3, h4, p {
    color: white;
}

.contact .detailsandform .contactdiv form {
    display: flex;
    flex-direction: column;
}

.contact .detailsandform .contactdiv input {
    width: 60%;
    height: 30px;
    background-color: transparent;
    color: white;
    border: 0;
    outline: 0;
    border-bottom: 1px orange solid;
    padding-bottom: 10px;
}

.contact .detailsandform .contactdiv textarea {
    width: 60%;
    height: 60px;
    background-color: transparent;
    color:white;
    border: 0;
    outline: 0;
    border-bottom: 1px orange solid;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.contact .detailsandform .contactdiv button {
    width: 40%;
    background-color: orange;
    border:0;
    outline: 0;
    padding: 3px 20px 3px 20px;
}

.contact .detailsandform .socialicons a {
    color: orange;
    padding: 0 7px 0 7px;
}
 .footer {
width: 100%;
font-size: 14px;
text-align: center;
 }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1200px) {
    .home h1 {
        font-size: 1.8rem;
    }

    .home .menu {
        width: 50%;
        padding: 0 0.4rem 0 0.4rem;
    }

    .home ul {
        width: 100%;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
.home {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: flex-start;
}

.home h1 {
     font-size: 1.6rem;
    
 }

 .home .menu {
     width: 100%;
     padding: 0;
 }

 .home ul {
width: 70%;
 }

 .about {
     display: flex;
     flex-direction: row-reverse;
 }

 .about .intro {
width: 100%;
 }

 .about .photo {
     width: 200px;
 }
 
 .about .contacticons .contactbtn {
     margin: 5px 40px 5px 0;
}

.skills .icons .row {
    flex-wrap: wrap;
    justify-content: center;
}

.skills .icons .row .card {
    width: 40%;
    padding: 20px;
    text-align: center;
}
}
   
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
    .home h1 {
        font-size: 1.4rem;
    }

    .skills {
        display: flex;
        flex-direction:column;
        column-gap: 30px;
        justify-content: space-around;
        align-items: center;
        padding:10px;
    }
    
    .skills .icons .row {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .skills .icons .row .card {
        width: 35%;
        padding: 10px;
        text-align: center;
    }


}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .container {
        padding: 0;

    }
    .home h1 {
        font-size: 1.2rem;
    }

    .home ul {
        display: flex;
        flex-direction: column;
       line-height: 2.5rem;
       }

       .about {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 300px;
    }
   
    .about .intro {
   width: 100%;
    }
   
    .about .photo {
        display: none;
    }
    
    .about .contacticons .contactbtn {
        margin: 5px 40px 5px 0;
   }

   .skills .icons .row {
    display: flex;
    flex-direction: row;
}

.skills .icons .row .card {
    width: 50%;
    padding: 0;
}

.contact .detailsandform {
    display: flex;
    flex-direction: column;
}

.contact .detailsandform .contactdetails {
    width: 100%;

}

.contact .detailsandform .contactdiv{
    width: 100%;
}